:root {
  --text-color: #212121;
  --p-tel-mail-color: #757575;
  --accent-color: #2196f3;
  --logo-header-color: #000000;
  --primary-white-color: #ffffff;
  --hero-footer-color: #2f303a;
  --bcg-color-button: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --main-font-family: "Roboto", sans-serif;
  --main-font-size: 16px;
}

/* for all */
body {
  background-color: var(--primary-white-color);
  color: var(--text-color);

  font-family: var(--main-font-family);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* first section */
.logo {
  color: var(--logo-header-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-word {
  color: var(--accent-color);
}

/* navigation */
.site-nav .link {
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* communication */
.communication .link {
  color: var(--p-tel-mail-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.communication .link:hover,
.communication .link:focus {
  color: var(--accent-color);
}

/* second section */
.hero {
  background-color: var(--hero-footer-color);
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.benefits-title .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-title .text {
  color: var(--p-tel-mail-color);

  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-section {
  background-color: var(--bcg-color-button);
}

.team-icon {
  background-color: var(--primary-white-color);
}

.team .title {
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.text {
  color: var(--p-tel-mail-color);

  font-size: var(--main-font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* click */
.btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
  color: var(--primary-white-color);
}

/* second section for second page */
.filter .btn {
  background-color: var(--bcg-color-button);
  color: var(--text-color);

  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.filter .btn:hover,
.filter .btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works .link {
  color: var(--text-color);

  text-decoration: none;
}

/* last one */
.last-page {
  background-color: var(--hero-footer-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo-footer {
  color: var(--primary-white-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.address {
  font-style: normal;
}

.address .link {
  color: var(--address-color);

  text-decoration: none;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.footer-address .link {
  color: var(--primary-white-color);

  text-decoration: none;
}

.footer-address .link:hover,
.footer-addres .link:focus {
  color: var(--accent-color);
}
